.cid-trdJg1XkYi {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #101010;
}
@media (min-width: 992px) {
  .cid-trdJg1XkYi .carousel {
    min-height: 700px;
  }
  .cid-trdJg1XkYi .carousel img {
    max-height: 700px;
    object-fit: contain;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-trdJg1XkYi .carousel {
    min-height: 455px;
  }
  .cid-trdJg1XkYi .carousel img {
    max-height: 455px;
    object-fit: contain;
  }
}
@media (max-width: 767px) {
  .cid-trdJg1XkYi .carousel {
    min-height: 385px;
  }
  .cid-trdJg1XkYi .carousel img {
    max-height: 385px;
    object-fit: contain;
  }
  .cid-trdJg1XkYi .container .carousel-control {
    margin-bottom: 0;
  }
  .cid-trdJg1XkYi .content-slider-wrap {
    width: 100% !important;
  }
}
.cid-trdJg1XkYi .carousel,
.cid-trdJg1XkYi .carousel-inner {
  display: flex;
  align-items: center;
}
.cid-trdJg1XkYi .item-wrapper {
  width: 100%;
}
.cid-trdJg1XkYi .carousel-caption {
  bottom: 40px;
}
.cid-trdJg1XkYi .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
.cid-trdJg1XkYi .mobi-mbri-arrow-next {
  margin-left: 5px;
}
.cid-trdJg1XkYi .mobi-mbri-arrow-prev {
  margin-right: 5px;
}
.cid-trdJg1XkYi .container .carousel-indicators {
  margin-bottom: 3px;
}
.cid-trdJg1XkYi .carousel-control {
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.cid-trdJg1XkYi .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-trdJg1XkYi .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-trdJg1XkYi .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-trdJg1XkYi .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 1.5rem !important;
}
.cid-trdJg1XkYi .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-trdJg1XkYi .carousel-indicators li.active,
.cid-trdJg1XkYi .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-trdJg1XkYi .carousel-indicators li::after,
.cid-trdJg1XkYi .carousel-indicators li::before {
  content: none;
}
.cid-trdJg1XkYi .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-trdJg1XkYi .carousel-indicators {
    display: none !important;
  }

}
.cid-tr6PDL9WYm {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #000000;
}
.cid-tr6PDL9WYm .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.4;
}
@media (min-width: 992px) {
  .cid-tr6PDL9WYm form {
    width: 50%;
  }
}
.cid-tr6PDL9WYm form .mbr-section-btn {
  text-align: center;
  width: 100%;
}
.cid-tr6PDL9WYm form .mbr-section-btn .btn {
  width: 100%;
}
.cid-tr6PDL9WYm .mbr-section-title {
  color: #ffffff;
}
.cid-tr6Qcyt9NS {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #000000;
  overflow: hidden;
}
